@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: Poppins, sans-serif;
}

  h2 {
  font-size: 2rem !important;
  font-weight: bold !important;
}

.md-drppicker {
  margin-top: 1rem !important;
  left: unset !important;
  right: 1rem !important;
}

.custom-theme .ng-select-container{
  background: #51459E;
  color: white;
}

.ng-select.ng-select-opened > .ng-select-container {
  background: #51459E !important;
}

